<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="css/homepage.css">
</head>
<body>
    <div class="full-page">
        <div class="navbar">
            <div>
                <a>Online Event Management</a>
            </div>
            <nav>
                <ul id='MenuItems'>
                    <a href="login">
                    <li><button class='loginbtn'>Login</button></li>
                    </a>
                    <a href="register">
                    <li><button class='registerbtn'>Register</button></li>
                    </a>
                </ul>
            </nav>
    
        </div>
           <h1> Event Page</h1>
</body>
</html>