<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="css/homepage.css">
</head>
<body>
    <div class="full-page">
        <div class="navbar">
            <div>
                <a>Online Event Management</a>
            </div>
            <nav>
                <ul id='MenuItems'>
                    <a href="login">
                    <li><button class='loginbtn'>Login</button></li>
                    </a>
                    <a href="register">
                    <li><button class='registerbtn'>Register</button></li>
                    </a>
                </ul>
            </nav>
    
        </div>
        <div class="container">
            <main class="grid">
                <article>
                    <div class="text">
                        <h3>Card 1</h3>
                        <p>Hii Hello Welcome Good to see you </p>
                        <button>View More</button>
                    </div>
                </article>
                <article>
                    <div class="text">
                        <h3>Card 2</h3>
                        <p>Hii Hello Welcome Good to see you </p>
                        <button>View More</button>
                    </div>
                </article>
                <article>
                    <div class="text">
                        <h3>Card 3</h3>
                        <p>Hii Hello Welcome Good to see you </p>
                        <button>View More</button>
                    </div>
                </article>
            </main>
        </div>
    </div>
</body>
</html>